.m1{
    margin-top: 100px;
  
}
.pd1{
    padding:100%;
}
.m3{
    margin-top:25px;
    margin-right: 200px;
}
.m2{
    margin-top: 25px;
    
    
  
}
.m3{
    margin-top: 100px;
}
.m4{
    margin-top:125px;
}
.m2:hover{
    background-color: rgb(11, 206, 92);
}
.wd1{
 width:100%;
 
}
.wd2{
    width:100%;
    height:100%;
    padding-top: 50px;
}
.container1{
    display:grid;
    grid-template-columns: 4fr 4fr;
    grid-gap:2fr;
}
hr{
    width:100%;
    height:10px;
    
    background-color: blue;
    color:blue;
}
.btn1{
    height:45px;
    width:50%;
    border:none;
    outline:none;
    background-color:rgb(248, 26,92) ;
    color:white;
    font-weight:700;
    border-radius: 90px;
}
.btn2{
    height:45px;
    width:100%;
    border:none;
    outline:none;
    background-color:rgb(248, 26,92) ;
    color:white;
    font-weight:700;
    border-radius: 60px;
}
.news{
    background-color: black;
    color:white;
}
.btn3{
    background-color:orange;   
}